@font-face {
  src: url(/stage-agence-seize/assets/fonts/FrankRuhlLibre-Bold.ttf);
  font-family: 'FrankRuhl-Bold'; }

@font-face {
  src: url(/stage-agence-seize/assets/fonts/FrankRuhlLibre-Regular.ttf);
  font-family: 'FrankRuhl-Regular'; }

@font-face {
  src: url(/stage-agence-seize/assets/fonts/Roboto-Light.ttf);
  font-family: 'Roboto'; }

html {
  font-size: 18px; }

body {
  font-size: 100%;
  margin: 0;
  font-family: "FrankRuhl-Regular"; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
p {
  color: #3a007e; }

h1,
h2 {
  font-family: "FrankRuhl-Bold"; }

h1 {
  font-size: 2.8rem; }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.1rem;
      margin-top: 50px; } }

h2 {
  font-size: 1.9rem; }

h3 {
  position: relative; }
  h3:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 40%;
    background-color: rgba(191, 129, 255, 0.35);
    height: 15px;
    width: 50px;
    z-index: -1; }

.quote p {
  font-size: 1.5rem;
  font-family: "FrankRuhl-Bold"; }
  .quote p strong {
    color: #bf81ff; }

p {
  line-height: 1.4; }
  p a {
    color: #fa7332;
    position: relative; }
    p a:hover:before {
      width: 100%; }
    p a:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      background-color: rgba(250, 115, 50, 0.15);
      height: 15px;
      width: 0;
      -webkit-transition: 0.15s ease-in-out;
      -o-transition: 0.15s ease-in-out;
      transition: 0.15s ease-in-out;
      z-index: -1; }

ul {
  color: #3a007e;
  padding-left: 20px; }
  ul li {
    list-style-type: none;
    position: relative; }
    ul li:not(:last-child) {
      margin-bottom: 10px; }
    ul li:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0%;
      background-color: rgba(255, 213, 129, 0.35);
      height: 15px;
      width: 30px;
      z-index: -1; }

a {
  color: inherit;
  text-decoration: none; }

.grid100 {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%; }

.grid66 {
  -webkit-box-flex: calc(100% * 2 / 3);
  -ms-flex: calc(100% * 2 / 3);
  flex: calc(100% * 2 / 3);
  max-width: calc(100% * 2 / 3); }

.grid60 {
  -webkit-box-flex: 60%;
  -ms-flex: 60%;
  flex: 60%;
  max-width: 60%; }

.grid50 {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%; }

.grid45 {
  -webkit-box-flex: 45%;
  -ms-flex: 45%;
  flex: 45%;
  max-width: 45%; }
  @media (max-width: 768px) {
    .grid45 {
      -webkit-box-flex: 70%;
      -ms-flex: 70%;
      flex: 70%;
      max-width: 70%; } }

.grid40 {
  -webkit-box-flex: 40%;
  -ms-flex: 40%;
  flex: 40%;
  max-width: 40%; }

.grid33 {
  -webkit-box-flex: calc(100% / 3);
  -ms-flex: calc(100% / 3);
  flex: calc(100% / 3);
  max-width: calc(100% / 3); }

.grid25 {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%; }

.innerWidth {
  margin: auto; }
  @media (min-width: 768px) {
    .innerWidth {
      max-width: 60%; } }
  @media (max-width: 768px) {
    .innerWidth {
      padding: 0 20px; } }

.smallWidth {
  margin: auto; }
  .smallWidth img {
    max-width: 100%;
    margin: 20px 0 50px; }
  @media (min-width: 768px) {
    .smallWidth {
      max-width: 580px; } }

.framed {
  position: relative; }
  .framed:before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 15px;
    background-color: rgba(255, 185, 151, 0.8); }
  .framed.smallWidth img {
    margin-bottom: 0; }

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 2;
  padding: 15px 80px; }
  @media (max-width: 768px) {
    header {
      padding: 15px 30px; } }
  header .suivi {
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #3a007e;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  header .burger-icon {
    position: relative;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 4; }
    header .burger-icon line {
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
    header .burger-icon.active #Ligne_1 {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .burger-icon.active #Ligne_2 {
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      opacity: 0; }
    header .burger-icon.active #Ligne_3 {
      -webkit-transform: rotate(-45deg) translateY(19.86px) translateX(-19.86px);
      -ms-transform: rotate(-45deg) translateY(19.86px) translateX(-19.86px);
      transform: rotate(-45deg) translateY(19.86px) translateX(-19.86px); }
    header .burger-icon:hover {
      cursor: pointer; }
      header .burger-icon:hover:not(.active) #Ligne_1 {
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px); }
      header .burger-icon:hover:not(.active) #Ligne_3 {
        -webkit-transform: translateY(20.86px);
        -ms-transform: translateY(20.86px);
        transform: translateY(20.86px); }
  header .menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 2; }
    header .menu.active .screen {
      opacity: 1; }
    header .menu.active .menu-container {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    header .menu .screen {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      -webkit-transition: 0.15s ease-in-out;
      -o-transition: 0.15s ease-in-out;
      transition: 0.15s ease-in-out;
      background-color: rgba(58, 0, 126, 0.42); }
    header .menu .menu-container {
      position: relative;
      background-color: white;
      -webkit-box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 768px) {
        header .menu .menu-container {
          -webkit-box-flex: 100%;
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      header .menu .menu-container-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 80px; }
        @media (max-width: 768px) {
          header .menu .menu-container-left {
            padding: 20px;
            padding-top: 80px; } }
        header .menu .menu-container-left nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          @media (max-width: 768px) {
            header .menu .menu-container-left nav {
              margin-bottom: 20px; } }
          header .menu .menu-container-left nav .menu-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            header .menu .menu-container-left nav .menu-item:not(:last-of-type) {
              margin-bottom: 10px; }
            header .menu .menu-container-left nav .menu-item:hover .menu-item-titre:before {
              -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
              transform: scaleX(1); }
            header .menu .menu-container-left nav .menu-item:hover .menu-item-sous-titre::before {
              -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
              transform: scaleX(0); }
            header .menu .menu-container-left nav .menu-item-titre {
              font-family: "FrankRuhl-Regular";
              font-size: 1.9rem;
              color: #3a007e;
              position: relative;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content; }
              @media (max-width: 768px) {
                header .menu .menu-container-left nav .menu-item-titre {
                  font-size: 1.6rem; } }
              header .menu .menu-container-left nav .menu-item-titre::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -10px;
                width: calc(100% + 20px);
                height: 4px;
                border-radius: 2px;
                background: #3a007e;
                -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: left;
                -ms-transform-origin: left;
                transform-origin: left;
                -webkit-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out; }
            header .menu .menu-container-left nav .menu-item-sous-titre {
              font-family: "Roboto";
              font-size: 1rem;
              position: relative; }
              @media (max-width: 768px) {
                header .menu .menu-container-left nav .menu-item-sous-titre {
                  display: none; } }
              header .menu .menu-container-left nav .menu-item-sous-titre[data-color='peach'] {
                color: #ffb997; }
              header .menu .menu-container-left nav .menu-item-sous-titre[data-color='orange'] {
                color: #fa7332; }
              header .menu .menu-container-left nav .menu-item-sous-titre[data-color='yellow'] {
                color: #ffd581; }
              header .menu .menu-container-left nav .menu-item-sous-titre[data-color='purple'] {
                color: #bf81ff; }
              header .menu .menu-container-left nav .menu-item-sous-titre::before {
                content: '';
                position: absolute;
                background: #fff;
                width: 100%;
                height: 100%;
                -webkit-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
                -webkit-transform-origin: left;
                -ms-transform-origin: left;
                transform-origin: left; }
        header .menu .menu-container-left-bottom {
          font-family: "Roboto";
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #3a007e; }
          header .menu .menu-container-left-bottom span {
            margin-right: 20px; }
      header .menu .menu-container-right img {
        max-height: 100vh; }
      @media (max-width: 768px) {
        header .menu .menu-container-right {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); } }
  header.scrolled {
    background: #fff;
    -webkit-box-shadow: 0px 2px 11px rgba(255, 185, 151, 0.26);
    box-shadow: 0px 2px 11px rgba(255, 185, 151, 0.26); }
    header.scrolled .navigation {
      opacity: 1; }
  header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    opacity: 0;
    color: #3a007e;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    header .navigation .title {
      font-family: "FrankRuhl-Bold";
      font-size: 1.2rem; }
    header .navigation > a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 768px) {
        header .navigation > a {
          display: none; } }
      header .navigation > a img {
        max-width: 20px; }
      header .navigation > a span {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        opacity: 0.66; }
      header .navigation > a.next img {
        margin-left: 10px; }
      header .navigation > a.previous img {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-right: 10px; }

.grid-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .grid-double {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .grid-double > div {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%; } }
  .grid-double .long {
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 350px;
    overflow: hidden;
    cursor: pointer; }
  .grid-double .left {
    margin-right: 30px; }
  .grid-double .right {
    margin-left: 10px; }
  .grid-double img {
    max-width: 100%; }

.suite-lecture {
  width: 100%;
  height: 150px;
  position: relative;
  margin: 100px 0 30px;
  overflow: hidden;
  z-index: 1; }
  @media (max-width: 768px) {
    .suite-lecture .suite-lecture-suite,
    .suite-lecture .suite-lecture-overlay {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
    .suite-lecture .suite-lecture-topic img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .suite-lecture .suite-lecture-topic .content {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }
  .suite-lecture:hover .suite-lecture-suite,
  .suite-lecture:hover .suite-lecture-overlay {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  .suite-lecture:hover .suite-lecture-topic img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .suite-lecture:hover .suite-lecture-topic .content {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .suite-lecture a > div {
    height: 100%;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }
  .suite-lecture-suite, .suite-lecture-topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .suite-lecture-suite > img, .suite-lecture-topic > img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      position: absolute;
      max-width: 100%; }
    .suite-lecture-suite .content, .suite-lecture-topic .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 1; }
      .suite-lecture-suite .content img, .suite-lecture-topic .content img {
        width: 30px;
        margin-right: 20px; }
  .suite-lecture-suite, .suite-lecture-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0; }
  .suite-lecture-suite {
    background-color: #ffb997; }
    .suite-lecture-suite > img {
      opacity: 1; }
    .suite-lecture-suite span {
      color: #3a007e;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: "Roboto"; }
  .suite-lecture-overlay {
    background-color: #ffb997;
    -webkit-transition-delay: 0.15s !important;
    -o-transition-delay: 0.15s !important;
    transition-delay: 0.15s !important; }
  .suite-lecture-topic {
    background-color: #3a007e; }
    .suite-lecture-topic > img {
      opacity: 0.5;
      -webkit-transition: 1s 0.25s ease-in-out;
      -o-transition: 1s 0.25s ease-in-out;
      transition: 1s 0.25s ease-in-out; }
    .suite-lecture-topic .content {
      font-family: "FrankRuhl-Regular";
      font-size: 1.5rem;
      z-index: 1;
      color: #ffd581;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: 0.4s 0.15s ease-in-out;
      -o-transition: 0.4s 0.15s ease-in-out;
      transition: 0.4s 0.15s ease-in-out; }
      @media (min-width: 768px) {
        .suite-lecture-topic .content img {
          display: none; } }

.first-screen {
  min-height: 100vh; }
  .first-screen .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 768px) {
      .first-screen .intro {
        padding-left: 100px; } }
    .first-screen .intro .content {
      max-width: 80%; }
      .first-screen .intro .content .sous-titres {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: "Roboto";
        color: #bf81ff;
        margin-bottom: 30px; }
        .first-screen .intro .content .sous-titres span {
          position: relative;
          z-index: 0;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          cursor: pointer; }
          .first-screen .intro .content .sous-titres span:not(:last-child) {
            margin-bottom: 5px; }
          .first-screen .intro .content .sous-titres span:hover:after {
            width: calc(100% + 30px); }
          .first-screen .intro .content .sous-titres span:after {
            content: '';
            position: absolute;
            left: -10px;
            top: 50%;
            background-color: rgba(191, 129, 255, 0.27);
            height: 15px;
            width: 0;
            -webkit-transition: 0.25s ease-out;
            -o-transition: 0.25s ease-out;
            transition: 0.25s ease-out; }
  .first-screen .fullVisuel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .first-screen .fullVisuel {
        max-height: 30vh; } }
    .first-screen .fullVisuel img {
      -o-object-fit: cover;
      object-fit: cover;
      max-width: 100%; }

.carousel-realisations {
  margin-bottom: 30px; }
  .carousel-realisations-container {
    overflow: hidden; }
    .carousel-realisations-container .realisations-liste {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      .carousel-realisations-container .realisations-liste .realisation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.5;
        -webkit-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
        .carousel-realisations-container .realisations-liste .realisation.active {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          opacity: 1; }
          .carousel-realisations-container .realisations-liste .realisation.active .realisation-legende {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0); }
        .carousel-realisations-container .realisations-liste .realisation-visuel {
          max-height: 350px;
          overflow: hidden; }
          .carousel-realisations-container .realisations-liste .realisation-visuel img {
            max-width: 100%;
            min-height: 100px;
            -o-object-fit: cover;
            object-fit: cover;
            cursor: pointer; }
        .carousel-realisations-container .realisations-liste .realisation-legende {
          text-align: center;
          opacity: 0;
          -webkit-transform: translateY(30px);
          -ms-transform: translateY(30px);
          transform: translateY(30px);
          -webkit-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;
          font-family: "Roboto"; }
        .carousel-realisations-container .realisations-liste .realisation:not(:last-of-type) {
          margin-right: 25px; }
  .carousel-realisations-controls {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto; }
    .carousel-realisations-controls > div:hover {
      cursor: pointer; }
    .carousel-realisations-controls > div img {
      height: 40px; }
    .carousel-realisations-controls .control-left img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.pop-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10; }
  .pop-in.active .pop-in-screen {
    opacity: 0.8; }
  .pop-in.active .pop-in-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .pop-in-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    background-color: #3a007e;
    opacity: 0; }
  .pop-in-img {
    max-height: 90%;
    max-width: 80%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .pop-in-close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .pop-in-close:before, .pop-in-close:after {
      content: '';
      height: 4px;
      width: 36px;
      background-color: #ffd581;
      border-radius: 2px;
      position: absolute;
      left: 0;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left; }
    .pop-in-close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    .pop-in-close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 0; }

.main-content {
  margin: auto; }
