@import 'vars.scss';
@font-face {
	src: url(/assets/fonts/FrankRuhlLibre-Bold.ttf);
	font-family: 'FrankRuhl-Bold';
}
@font-face {
	src: url(/assets/fonts/FrankRuhlLibre-Regular.ttf);
	font-family: 'FrankRuhl-Regular';
}
@font-face {
	src: url(/assets/fonts/Roboto-Light.ttf);
	font-family: 'Roboto';
}
html {
	font-size: 18px;
}
body {
	font-size: 100%;
	margin: 0;
	font-family: $fontTexte;
}
* {
	box-sizing: border-box;
}
// fonts
h1,
h2,
h3,
p {
	color: $mainColor;
}
h1,
h2 {
	font-family: $fontTitre;
}
h1 {
	font-size: 2.8rem;
	@media (max-width: 768px) {
		font-size: 2.1rem;
		margin-top: 50px;
	}
}
h2 {
	font-size: 1.9rem;
}
h3 {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: -10px;
		top: 40%;
		background-color: rgba($purple, 0.35);
		height: 15px;
		width: 50px;
		z-index: -1;
	}
}
.quote {
	p {
		font-size: 1.5rem;
		font-family: $fontTitre;
		strong {
			color: $purple;
		}
	}
}
p {
	line-height: 1.4;
	a {
		color: $orange;
		position: relative;
		&:hover {
			&:before {
				width: 100%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 5px;
			top: 50%;
			background-color: rgba($orange, 0.15);
			height: 15px;
			width: 0;
			transition: 0.15s ease-in-out;
			z-index: -1;
		}
	}
}
ul {
	color: $mainColor;
	padding-left: 20px;
	li {
		list-style-type: none;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 0%;
			background-color: rgba($yellow, 0.35);
			height: 15px;
			width: 30px;
			z-index: -1;
		}
	}
}
a {
	color: inherit;
	text-decoration: none;
}
//grids
.grid100 {
	flex: 100%;
	max-width: 100%;
}
.grid66 {
	flex: calc(100% * 2 / 3);
	max-width: calc(100% * 2 / 3);
}
.grid60 {
	flex: 60%;
	max-width: 60%;
}
.grid50 {
	flex: 50%;
	max-width: 50%;
}
.grid45 {
	flex: 45%;
	max-width: 45%;
}
.grid40 {
	flex: 40%;
	max-width: 40%;
}
.grid33 {
	flex: calc(100% / 3);
	max-width: calc(100% / 3);
}
.grid25 {
	flex: 25%;
	max-width: 25%;
}
// layouts
.innerWidth {
	margin: auto;
	@media (min-width: 768px) {
		max-width: 60%;
	}
	@media (max-width: 768px) {
		padding: 0 20px;
	}
}
.smallWidth {
	margin: auto;
	img {
		max-width: 100%;
		margin: 20px 0 50px;
	}
	@media (min-width: 768px) {
		max-width: 580px;
	}
}
//images
.framed {
	position: relative;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 10px;
		left: 15px;
		background-color: rgba($peach, 0.8);
	}
	&.smallWidth {
		img {
			margin-bottom: 0;
		}
	}
}
//header
header {
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 2;
	padding: 15px 80px;
	@media (max-width: 768px) {
		padding: 15px 30px;
	}
	.suivi {
		position: absolute;
		height: 2px;
		width: 0;
		background-color: $mainColor;
		bottom: 0;
		left: 0;
		transition: 0.1s ease-in-out;
	}
	.burger-icon {
		position: relative;
		transition: 0.2s ease-in-out;
		transform-origin: center;
		width: fit-content;
		z-index: 4;
		line {
			transition: 0.2s ease-in-out;
		}
		&.active {
			#Ligne_1 {
				transform: rotate(45deg);
			}
			#Ligne_2 {
				transform: scaleX(0);
				opacity: 0;
			}
			#Ligne_3 {
				transform: rotate(-45deg) translateY(19.86px) translateX(-19.86px);
			}
		}
		&:hover {
			cursor: pointer;
			&:not(.active) {
				#Ligne_1 {
					transform: translateY(3px);
				}
				#Ligne_3 {
					transform: translateY(20.86px);
				}
			}
		}
	}
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100vh;
		z-index: 2;
		&.active {
			.screen {
				opacity: 1;
			}
			.menu-container {
				transform: translateX(0);
			}
		}
		.screen {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 0.15s ease-in-out;
			background-color: rgba($mainColor, 0.42);
		}
		.menu-container {
			position: relative;
			background-color: white;
			box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
			display: flex;
			transform: translateX(-100%);
			transition: 0.5s ease-in-out;
			justify-content: space-between;
			@media (max-width: 768px) {
				flex: 100%;
				max-width: 100%;
				flex-direction: column;
			}
			&-left {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 80px;
				@media (max-width: 768px) {
					padding: 20px;
					padding-top: 80px;
				}
				nav {
					display: flex;
					flex-direction: column;
					@media (max-width: 768px) {
						margin-bottom: 20px;
					}
					.menu-item {
						display: flex;
						flex-direction: column;
						&:not(:last-of-type) {
							margin-bottom: 10px;
						}
						&:hover {
							.menu-item-titre {
								&:before {
									transform: scaleX(1);
								}
							}
							.menu-item-sous-titre {
								&::before {
									transform: scaleX(0);
								}
							}
						}
						&-titre {
							font-family: $fontTexte;
							font-size: 1.9rem;
							color: $mainColor;
							position: relative;
							width: fit-content;
							@media (max-width: 768px) {
								font-size: 1.6rem;
							}
							&::before {
								content: '';
								position: absolute;
								top: 50%;
								left: -10px;
								width: calc(100% + 20px);
								height: 4px;
								border-radius: 2px;
								background: $mainColor;
								transform: scaleX(0);
								transform-origin: left;
								transition: 0.25s ease-in-out;
							}
						}
						&-sous-titre {
							font-family: $fontSans;
							font-size: 1rem;
							position: relative;
							@media (max-width: 768px) {
								display: none;
							}
							&[data-color='peach'] {
								color: $peach;
							}
							&[data-color='orange'] {
								color: $orange;
							}
							&[data-color='yellow'] {
								color: $yellow;
							}
							&[data-color='purple'] {
								color: $purple;
							}
							&::before {
								content: '';
								position: absolute;
								background: #fff;
								width: 100%;
								height: 100%;
								transition: 0.25s ease-in-out;
								transform-origin: left;
							}
						}
					}
				}
				&-bottom {
					font-family: $fontSans;
					display: flex;
					align-items: center;
					color: $mainColor;
					span {
						margin-right: 20px;
					}
				}
			}
			&-right {
				img {
					max-height: 100vh;
				}
				@media (max-width: 768px) {
					transform: rotate(90deg);
				}
			}
		}
	}
	&.scrolled {
		background: #fff;
		box-shadow: 0px 2px 11px rgba(255, 185, 151, 0.26);
		.navigation {
			opacity: 1;
		}
	}
	.navigation {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		opacity: 0;
		color: $mainColor;
		transition: 0.2s ease-in-out;
		.title {
			font-family: $fontTitre;
			font-size: 1.2rem;
		}
		> a {
			display: flex;
			align-items: center;
			@media (max-width: 768px) {
				display: none;
			}
			img {
				max-width: 20px;
			}
			span {
				flex-shrink: 0;
				opacity: 0.66;
			}
			&.next {
				img {
					margin-left: 10px;
				}
			}
			&.previous {
				img {
					transform: rotate(180deg);
					margin-right: 10px;
				}
			}
		}
	}
}

// templates
.grid-double {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	@media (max-width: 768px) {
		flex-direction: column;
		> div {
			flex: 100%;
			max-width: 100%;
		}
	}
	.left {
		margin-right: 30px;
	}
	.right {
		margin-left: 10px;
	}
	img {
		max-width: 100%;
	}
}
.suite-lecture {
	width: 100%;
	height: 150px;
	position: relative;
	margin: 100px 0 30px;
	overflow: hidden;
	z-index: 1;
	&:hover {
		.suite-lecture-suite,
		.suite-lecture-overlay {
			transform: translateX(-100%);
		}
		.suite-lecture-topic {
			img {
				transform: scale(1.1);
			}
			span {
				transform: translateX(0);
			}
		}
	}
	a > div {
		height: 100%;
		transition: 0.4s ease-in-out;
	}
	&-suite,
	&-topic {
		display: flex;
		align-items: center;
		justify-content: center;
		> img {
			object-fit: cover;
			object-position: center;
			position: absolute;
			max-width: 100%;
		}
	}
	&-suite,
	&-overlay {
		position: absolute;
		z-index: 2;
		width: 100%;
		top: 0;
		left: 0;
	}
	&-suite {
		background-color: $peach;
		> img {
			opacity: 1;
		}
		.content {
			display: flex;
			align-items: center;
			z-index: 1;
			img {
				width: 30px;
				margin-right: 20px;
			}
		}
		span {
			color: $mainColor;
			font-size: 1.2rem;
			font-weight: bold;
			font-family: $fontSans;
		}
	}
	&-overlay {
		background-color: $peach;
		transition-delay: 0.15s !important;
	}
	&-topic {
		background-color: $mainColor;
		> img {
			opacity: 0.5;
			transition: 1s 0.25s ease-in-out;
		}
		span {
			font-family: $fontTexte;
			font-size: 1.5rem;
			z-index: 1;
			color: $yellow;
			transform: translateX(100%);
			transition: 0.4s 0.15s ease-in-out;
		}
	}
}
// parties
.first-screen {
	min-height: 100vh;
	.intro {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@media (min-width: 768px) {
			padding-left: 100px;
		}
		.content {
			max-width: 80%;
			.sous-titres {
				display: flex;
				flex-direction: column;
				font-family: $fontSans;
				color: $purple;
				margin-bottom: 30px;
				a {
					position: relative;
					z-index: 0;
					width: fit-content;
					&:not(:last-child) {
						margin-bottom: 5px;
					}
					&:hover {
						&:after {
							width: calc(100% + 30px);
						}
					}
					&:after {
						content: '';
						position: absolute;
						left: -10px;
						top: 50%;
						background-color: rgba($purple, 0.27);
						height: 15px;
						width: 0;
						transition: 0.25s ease-out;
					}
				}
			}
		}
	}
	.fullVisuel {
		display: flex;
		@media (max-width: 768px) {
			max-height: 30vh;
		}
		img {
			object-fit: cover;
			max-width: 100%;
		}
	}
}
// carousel
.carousel-realisations {
	margin-bottom: 30px;
	&-container {
		overflow: hidden;
		.realisations-liste {
			display: flex;
			align-items: center;
			transition: 0.3s ease-in-out;
			.realisation {
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				transform: scale(0.9);
				opacity: 0.5;
				transition: 0.2s ease-in-out;
				&.active {
					transform: scale(1);
					opacity: 1;
					.realisation-legende {
						opacity: 1;
						transform: translateY(0);
					}
				}
				&-visuel {
					max-height: 350px;
					overflow: hidden;
					img {
						max-width: 100%;
						object-fit: cover;
						cursor: pointer;
					}
				}
				&-legende {
					text-align: center;
					opacity: 0;
					transform: translateY(30px);
					transition: 0.2s ease-in-out;
					font-family: $fontSans;
				}
				&:not(:last-of-type) {
					margin-right: 25px;
				}
			}
		}
	}
	&-controls {
		width: 30%;
		display: flex;
		justify-content: space-between;
		margin: auto;
		> div {
			&:hover {
				cursor: pointer;
			}
			img {
				height: 40px;
			}
		}
		.control-left {
			img {
				transform: rotate(180deg);
			}
		}
	}
}
.pop-in {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 10;
	&.active {
		.pop-in-screen {
			opacity: 0.8;
		}
		.pop-in-img {
			transform: scale(1);
		}
	}
	&-screen {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: 0.15s ease-in-out;
		background-color: $mainColor;
		opacity: 0;
	}
	&-img {
		max-height: 90%;
		max-width: 80%;
		transform: scale(0);
		transition: 0.3s ease-in-out;
	}
	&-close {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		&:before,
		&:after {
			content: '';
			height: 4px;
			width: 36px;
			background-color: $yellow;
			border-radius: 2px;
			position: absolute;
			left: 0;
			transform-origin: left;
		}
		&:before {
			transform: rotate(45deg);
			top: 0;
		}
		&:after {
			transform: rotate(-45deg);
			bottom: 0;
		}
	}
}
.main-content {
	margin: auto;
}
