@import '../vars.scss';
@keyframes rotating {
	0% {
		transform: rotate(-2deg);
	}

	100% {
		transform: rotate(2deg);
	}
}
.home {
	.landing-screen {
		max-height: 100vh;
		position: relative;
		&-visuel {
			overflow-x: hidden;
			svg {
				@media (max-width: 768px) {
					height: 105vh;
					transform: translateX(-33%);
				}
			}
			path.cls-77 {
				transform: translateY(-30px);
				@media (max-width: 768px) {
					transform: translateX(200px) translateY(80px);
				}
			}
			#luminaire {
				transform-origin: top;
				transform: rotate(-2deg);
				animation: rotating 3s ease-in-out infinite alternate;
				&1 {
					transform: translateY(-60px);
				}
			}
		}
		&-title {
			position: absolute;
			bottom: 30px;
			left: 0;
			padding-left: 20px;
			padding-right: 20px;
			@media (min-width: 768px) {
				padding-left: 120px;
				max-width: 60%;
			}
			img {
				position: absolute;
				bottom: 0;
				left: 0;
				max-width: 100%;
			}
			.text {
				z-index: 1;
				position: relative;

				h1 {
					font-size: 4rem;
					margin: 0;
					@media (max-width: 768px) {
						font-size: 2.4rem;
					}
				}
				h2 {
					font-size: 1.25rem;
					font-family: $fontTexte;
					@media (max-width: 768px) {
						font-size: 1.1rem;
					}
				}
				strong {
					color: $purple;
				}
			}
		}
		.shape {
			position: absolute;
			bottom: 0;
			left: 0;
			min-width: 100%;
			max-width: 100%;
			transform: translateY(90%);
		}
		&-scroll {
			position: absolute;
			bottom: 30px;
			right: 100px;
			background-color: $mainColor;
			width: 64px;
			height: 64px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			@media (max-width: 768px) {
				right: 30px;
				width: 40px;
				height: 40px;
				bottom: 15px;
				img {
					width: 20px;
				}
			}
		}
	}
	header {
		position: static;
		transition: 0.2s ease-in-out;
		&.scrolling {
			position: fixed;
			top: 0;
			@media (max-width: 768px) {
				background-color: white;
				box-shadow: 0px 2px 11px rgba(255, 185, 151, 0.26);
			}
		}
	}
	.main-content {
		position: relative;
	}
}
